package httphelpers

import (
	"bytes"
	"encoding/json"
	"errors"
	"io"

	"github.com/gofiber/fiber/v2"
)

// JSONDecode will try to decode json into pointer v. In case of unknown fields, they will be ignored
//
// This function is here as a counterpart to JSONDecodeNoUnknownFieldsAllowed, c.BodyParser does the same
func JSONDecode(c *fiber.Ctx, v any) error {
	return jsonDecode(c, v, true)
}

// JSONDecode will try to decode json into pointer v. In case of unknown fields, an error will be returned
func JSONDecodeNoUnknownFieldsAllowed(c *fiber.Ctx, v any) error {
	return jsonDecode(c, v, false)
}

func jsonDecode(c *fiber.Ctx, v any, allowUnknownFields bool) error {
	body := bytes.NewBuffer(c.Body())

	decoder := json.NewDecoder(body)
	if !allowUnknownFields {
		decoder.DisallowUnknownFields()
	}
	err := decoder.Decode(v)
	if err != nil {
		return err
	}

	if e := decoder.Decode(&struct{}{}); e != io.EOF {
		err = errors.New("body must only contain a single JSON value")
		return err
	}

	return nil
}
