package repo

import (
	"context"
	"database/sql"
	"errors"

	"{{.Name}}/internal/helloworld/repositoryerrors"
	"{{.Name}}/internal/models"

	"github.com/georgysavva/scany/v2/sqlscan"
)

type sqlRepo struct {
	db *sql.DB
}

func NewSqlRepo(db *sql.DB) *sqlRepo {
	return &sqlRepo{
		db: db,
	}
}

func (r *sqlRepo) SaveGreetedUser(ctx context.Context, user *models.User) error {
	{{template "insert_query"}}

	if err := sqlscan.Get(ctx, r.db, user, query, user.Name); err != nil {
		return err
	}

	return nil
}

func (r *sqlRepo) GetUser(ctx context.Context, name string) (models.User, error) {
	var user models.User
	{{template "get_user_query"}}

	if err := sqlscan.Get(ctx, r.db, &user, query, name); err != nil {
		switch {
		case errors.Is(err, sql.ErrNoRows):
			return models.User{}, repositoryerrors.ErrRecordNotFound
		default:
			return models.User{}, err
		}
	}

	return user, nil

}

func (r *sqlRepo) GetAllGreetedUsers(ctx context.Context) ([]models.User, error) {
	var users []models.User
	const query = `
		SELECT name, id, registered_at
		FROM users
	`

	if err := sqlscan.Select(ctx, r.db, &users, query);err != nil {
		switch {
		case errors.Is(err, sql.ErrNoRows):
			return []models.User{}, nil
		default:
			return []models.User{}, err
		}
	}

	return users, nil
}
